<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.studentsushe.dao.QueQinDao">
    <insert id="addQueQin" parameterType="com.hp.studentsushe.bean.QueQin">
        insert into queqin (sn,username,data,sushe,remake)
         VALUES (#{sn},#{username},#{data},#{sushe},#{remake})
    </insert>

    <!--总数-->
    <select id="findConnt" parameterType="com.hp.studentsushe.vo.Info" resultType="Integer">
        select count(1) from queqin
        <where>
            <if test="start!=null and start!=''">
                data in (#{start},#{stop})
            </if>
        </where>
    </select>

    <!--结果集-->
    <select id="findByData" parameterType="com.hp.studentsushe.vo.Info" resultType="com.hp.studentsushe.bean.QueQin">
        select * from queqin
        <where>
            <if test="start!=null and start!=''">
                data in (#{start},#{stop})
            </if>
        </where>
        limit #{startRow},#{size}
    </select>
</mapper>