<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.studentsushe.dao.WeiXiuDao">

    <insert id="shang" parameterType="com.hp.studentsushe.bean.WeiXiu">
        insert into weixiu (sn,addre,obj,phone,status,time,cost)
        values (#{sn},#{addre},#{obj},#{phone},#{status},#{time},#{cost})
    </insert>
</mapper>