* {
    margin: 0;
    padding: 0;
}

.ruzhu {
    width: 1000px;
    height: 520px;
    float: left;
    background-color: white;
    position: relative;
    top: 7px;
    left: 72px;
}

.ruzhu-top {
    width: 1000px;
    height: 45px;
    border-bottom: 1px solid #b2bec3;
    border-collapse: collapse;
}

.ruzhu-top h3 {
    color: #4d4d4d;
    position: relative;
    top: 8px;
    left: 20px;
}

.ruzhu p {
    color: red;
    position: relative;
    top: 9px;
    left: 216px;
}

.ruzhu-nei {
    width: 460px;
    height: 392px;
    position: relative;
    top: 47px;
    left: 302px;
}

.ruzhu-nei table {
    height: 268px;
    width: -webkit-fill-available;
    font-family: 宋体;
    font-size: 18px;
    position: relative;
    top: 9px;
    left: -1px;
}